/* Footer.css */

#footer-wrap {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 30px;
  color: white;
 
  box-sizing: border-box;
}

.footer-logo img {
  max-width: 80px; /* Ajusta el tamaño de la imagen */
  height: auto;
  align-items: center;
}

.footer-img {
  max-width: 100%;
  height: auto;
  align-items: center;
}


