/* Footer.css */

#footer-wrap {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea verticalmente en el centro */
  align-items: center;
  padding: 30px;
  color: white;
  width: 100vw;
  box-sizing: border-box;
}

.site-info {
  margin-top: 0px;
}

.footer-logo img {
  max-width: 80px; /* Ajusta el tamaño de la imagen */
  height: auto;
  align-items: center;
}

.footer-img {
  max-width: 100%;
  height: auto;
  align-items: center;
}


.spacer-cell {
  width: 37px; /* O ajusta el valor según tu preferencia */
}