/* Navbar.css */

body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif; /* Cambiar la fuente predeterminada de todo el cuerpo y la página */
}

.navbar {
  font-family: 'Montserrat', sans-serif; /* Cambiar la fuente de la barra de navegación */
  background-color: #000000;
  height: 100px; /* Ajustar la altura verticalmente */
}

.navbar-brand img.logo {
  max-height: 40px; /* Hacer el logo ligeramente más grande */
}

.navbar-nav {
  margin-left: auto; /* Hace que los navlinks se alineen a la derecha */
}