/* Navbar.css */

.body {
  margin: auto;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px; /* Increase the vertical padding */
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img.logo {
  height: 50px; /* Reduce the height of the logo */
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-left: auto; /* Ajusta el margen izquierdo para alinear a la derecha */
}

.nav-link {
  color: white;
  text-decoration: none;
}

.login {
  max-width: 30px;
  height: auto;
}
