/* DashboardAdmin.css */
.dashboard-admin {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar-admin {
  flex: 1; /* Ajusta la barra lateral para ocupar el espacio disponible */
  background-color: #001f3f; /* Cambia el color a azul marino */
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra */
  color: #fff;
}

.sidebar-admin button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  background-color: #004080; /* Cambia el color de fondo de los botones a un tono más claro */
  color: #fff; /* Cambia el color del texto de los botones */
  cursor: pointer;
  border-radius: 8px;
}

.dashboard-body {
  flex: 1;
  padding: 20px;
}

.cajas-arriba {
  display: flex;
  justify-content: space-between;
}

.cajas-arriba > div {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
}

.cajas-arriba a {
  margin-right: 6px; /* Ajusta el valor según tu preferencia */
}
